/* line 1, ../../../../../Users/melissalaas/Desktop/Web-Development/UNIT 7 - SVG/unit-7_project/scss/styles.scss */
* {
  box-sizing: border-box;
  font-family: 'Darker Grotesque', sans-serif;
}

/*------------------------
     Grid Containers
------------------------*/
/* line 9, ../../../../../Users/melissalaas/Desktop/Web-Development/UNIT 7 - SVG/unit-7_project/scss/styles.scss */
.grid-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-template-areas: "header" "nav" "main";
  background-color: #e9e8e8;
  margin: auto;
  font-family: 'Roboto', sans-serif;
  justify-content: center;
}

/*------------------------
        Elements
------------------------*/
/*--- header ---*/
/* line 27, ../../../../../Users/melissalaas/Desktop/Web-Development/UNIT 7 - SVG/unit-7_project/scss/styles.scss */
header {
  grid-area: header;
  width: 100%;
  background-color: #707fc2;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  color: white;
}

/* line 39, ../../../../../Users/melissalaas/Desktop/Web-Development/UNIT 7 - SVG/unit-7_project/scss/styles.scss */
h1 {
  font-size: 18px;
  font-weight: 300;
}

/* line 44, ../../../../../Users/melissalaas/Desktop/Web-Development/UNIT 7 - SVG/unit-7_project/scss/styles.scss */
h1 strong {
  font-weight: 600;
}

/* line 48, ../../../../../Users/melissalaas/Desktop/Web-Development/UNIT 7 - SVG/unit-7_project/scss/styles.scss */
h1 sup {
  font-size: 8px;
}

/* line 52, ../../../../../Users/melissalaas/Desktop/Web-Development/UNIT 7 - SVG/unit-7_project/scss/styles.scss */
.notifications {
  padding: 10px;
  border-right: 1px  #929292 solid;
}

/* line 57, ../../../../../Users/melissalaas/Desktop/Web-Development/UNIT 7 - SVG/unit-7_project/scss/styles.scss */
.bellDot {
  height: 6px;
  width: 6px;
  background-color: #00ff00;
  border-radius: 50%;
  position: relative;
  top: -30px;
  left: 20px;
}

/* line 67, ../../../../../Users/melissalaas/Desktop/Web-Development/UNIT 7 - SVG/unit-7_project/scss/styles.scss */
.student-name {
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  margin: 0px 6px;
}

@keyframes rinkle {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(45deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-45deg);
  }
}

/* line 89, ../../../../../Users/melissalaas/Desktop/Web-Development/UNIT 7 - SVG/unit-7_project/scss/styles.scss */
.bell-icon {
  fill: white;
  width: 22px;
  transform-origin: 50% 50%;
}

/* line 95, ../../../../../Users/melissalaas/Desktop/Web-Development/UNIT 7 - SVG/unit-7_project/scss/styles.scss */
.notifications:hover, .alert-banner {
  cursor: pointer;
}

/* line 99, ../../../../../Users/melissalaas/Desktop/Web-Development/UNIT 7 - SVG/unit-7_project/scss/styles.scss */
.bell-icon:hover {
  animation: rinkle .5s ease-in;
}

/* line 103, ../../../../../Users/melissalaas/Desktop/Web-Development/UNIT 7 - SVG/unit-7_project/scss/styles.scss */
#popup {
  position: absolute;
  right: 20px;
  z-index: 1;
  background-color: #7477bfcc;
  width: 250px;
}

/* line 111, ../../../../../Users/melissalaas/Desktop/Web-Development/UNIT 7 - SVG/unit-7_project/scss/styles.scss */
.popup-message {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px;
  margin: 8px;
}

/*--- navigation ---*/
/* line 120, ../../../../../Users/melissalaas/Desktop/Web-Development/UNIT 7 - SVG/unit-7_project/scss/styles.scss */
nav {
  grid-area: nav;
  background-color: #3a436b;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* line 128, ../../../../../Users/melissalaas/Desktop/Web-Development/UNIT 7 - SVG/unit-7_project/scss/styles.scss */
.icon {
  width: 35px;
  height: 35px;
  margin: 10px;
}

/*--- main ---*/
/* line 136, ../../../../../Users/melissalaas/Desktop/Web-Development/UNIT 7 - SVG/unit-7_project/scss/styles.scss */
main {
  grid-area: main;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  background-color: #ffffff;
  margin: 0;
}

/* line 145, ../../../../../Users/melissalaas/Desktop/Web-Development/UNIT 7 - SVG/unit-7_project/scss/styles.scss */
a {
  text-decoration: none;
  color: #707fc2;
}

/* line 150, ../../../../../Users/melissalaas/Desktop/Web-Development/UNIT 7 - SVG/unit-7_project/scss/styles.scss */
.main-header {
  grid-area: 1 / 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

/* line 157, ../../../../../Users/melissalaas/Desktop/Web-Development/UNIT 7 - SVG/unit-7_project/scss/styles.scss */
.alert {
  background-color: #707fc2;
  margin: 8px;
  color: #ffffff;
  grid-column: 1 / span 1;
  border-radius: 5px;
}

/* line 165, ../../../../../Users/melissalaas/Desktop/Web-Development/UNIT 7 - SVG/unit-7_project/scss/styles.scss */
.alert-banner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1em;
  font-weight: 100;
}

/* line 174, ../../../../../Users/melissalaas/Desktop/Web-Development/UNIT 7 - SVG/unit-7_project/scss/styles.scss */
h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: lighter;
  background-color: white;
  padding: 10px;
  margin: 2px;
  flex: 1;
}

/* line 184, ../../../../../Users/melissalaas/Desktop/Web-Development/UNIT 7 - SVG/unit-7_project/scss/styles.scss */
.main-dashboard-search {
  background-color: #e9e8e8;
  border-bottom: 1px #adacac solid;
  border-left: 1px #adacac solid;
  flex: 2;
}

/* line 191, ../../../../../Users/melissalaas/Desktop/Web-Development/UNIT 7 - SVG/unit-7_project/scss/styles.scss */
main h3 {
  font-size: 14px;
  text-transform: uppercase;
}

/*--- section ---*/
/* line 197, ../../../../../Users/melissalaas/Desktop/Web-Development/UNIT 7 - SVG/unit-7_project/scss/styles.scss */
section {
  padding: 12px;
  border-bottom: 1px #ebebeb solid;
}

/* line 202, ../../../../../Users/melissalaas/Desktop/Web-Development/UNIT 7 - SVG/unit-7_project/scss/styles.scss */
.widget-container-full,
.widget-container-half {
  display: flex;
  flex-direction: column;
}

/*--- traffic ---*/
/* line 209, ../../../../../Users/melissalaas/Desktop/Web-Development/UNIT 7 - SVG/unit-7_project/scss/styles.scss */
.traffic-nav {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 0;
  margin: 5px;
}

/* line 218, ../../../../../Users/melissalaas/Desktop/Web-Development/UNIT 7 - SVG/unit-7_project/scss/styles.scss */
.traffic-nav-link {
  padding: 5px;
  font-weight: 400;
}

/* line 223, ../../../../../Users/melissalaas/Desktop/Web-Development/UNIT 7 - SVG/unit-7_project/scss/styles.scss */
.active {
  color: white;
  background-color: #49c449;
  border-radius: 25px;
  padding: 10px;
}

/* widget */
/* line 231, ../../../../../Users/melissalaas/Desktop/Web-Development/UNIT 7 - SVG/unit-7_project/scss/styles.scss */
canvas {
  max-width: 100%;
}

/*--- social media ---*/
/* line 236, ../../../../../Users/melissalaas/Desktop/Web-Development/UNIT 7 - SVG/unit-7_project/scss/styles.scss */
.social {
  display: flex;
  flex-direction: column;
}

/* line 240, ../../../../../Users/melissalaas/Desktop/Web-Development/UNIT 7 - SVG/unit-7_project/scss/styles.scss */
.social-container {
  display: flex;
  flex-direction: row;
  justify-content: left;
  background-color: #f1efef;
  border-radius: 5px;
  border: 1px solid #cccbcb;
  padding: 1em;
  margin: 0 0 10px 0;
}

/* line 251, ../../../../../Users/melissalaas/Desktop/Web-Development/UNIT 7 - SVG/unit-7_project/scss/styles.scss */
.social-image {
  width: 70px;
  height: 70px;
  padding: 15px;
  background-color: #707fc2;
  fill: #f1efef;
  border-radius: 50%;
  border: 5px;
}

/* line 261, ../../../../../Users/melissalaas/Desktop/Web-Development/UNIT 7 - SVG/unit-7_project/scss/styles.scss */
.social-text {
  text-align: left;
  margin: 5px;
}

/* line 266, ../../../../../Users/melissalaas/Desktop/Web-Development/UNIT 7 - SVG/unit-7_project/scss/styles.scss */
.social-text p:first-child {
  color: #707fc2;
  font-weight: bold;
  margin: 1px;
}

/* line 272, ../../../../../Users/melissalaas/Desktop/Web-Development/UNIT 7 - SVG/unit-7_project/scss/styles.scss */
.social-text p:last-child {
  color: #808080;
  font-size: 30px;
  margin: 1px;
}

/*--- members container ---*/
/* line 279, ../../../../../Users/melissalaas/Desktop/Web-Development/UNIT 7 - SVG/unit-7_project/scss/styles.scss */
.members,
.member-activity {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;
  border-bottom: 1px #d3d2d2 solid;
}

/* line 289, ../../../../../Users/melissalaas/Desktop/Web-Development/UNIT 7 - SVG/unit-7_project/scss/styles.scss */
.member-activity:last-child,
.members:last-child {
  border-bottom: none;
}

/* line 294, ../../../../../Users/melissalaas/Desktop/Web-Development/UNIT 7 - SVG/unit-7_project/scss/styles.scss */
.members-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  padding: 2px 10px;
}

/* line 303, ../../../../../Users/melissalaas/Desktop/Web-Development/UNIT 7 - SVG/unit-7_project/scss/styles.scss */
.members-text > * {
  margin: 2px;
  text-align: center;
}

/* line 308, ../../../../../Users/melissalaas/Desktop/Web-Development/UNIT 7 - SVG/unit-7_project/scss/styles.scss */
p {
  font-size: 14px;
  margin: 0;
}

/* line 313, ../../../../../Users/melissalaas/Desktop/Web-Development/UNIT 7 - SVG/unit-7_project/scss/styles.scss */
.arrow {
  display: none;
}

/*--- profile images ---*/
/* line 318, ../../../../../Users/melissalaas/Desktop/Web-Development/UNIT 7 - SVG/unit-7_project/scss/styles.scss */
.profile-image,
.profile-top {
  border-radius: 50%;
}

/* line 323, ../../../../../Users/melissalaas/Desktop/Web-Development/UNIT 7 - SVG/unit-7_project/scss/styles.scss */
.profile-top {
  height: 40px;
  width: 40px;
  margin: 5px;
}

/* line 329, ../../../../../Users/melissalaas/Desktop/Web-Development/UNIT 7 - SVG/unit-7_project/scss/styles.scss */
.profile-image {
  height: 60px;
  width: 60px;
}

/*--- messages and settings ---*/
/* line 335, ../../../../../Users/melissalaas/Desktop/Web-Development/UNIT 7 - SVG/unit-7_project/scss/styles.scss */
.message-container,
.settings-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* line 341, ../../../../../Users/melissalaas/Desktop/Web-Development/UNIT 7 - SVG/unit-7_project/scss/styles.scss */
.formArea,
.formField {
  margin-bottom: 1em;
  background-color: #e9e8e8;
  border-radius: 5px;
  border: 1px #ccc9c9 solid;
  padding: 1em;
  font-size: 14px;
  color: #707070;
  width: 100%;
}

/* line 353, ../../../../../Users/melissalaas/Desktop/Web-Development/UNIT 7 - SVG/unit-7_project/scss/styles.scss */
.formArea {
  height: 150px;
}

/*github guidance: */
/* line 358, ../../../../../Users/melissalaas/Desktop/Web-Development/UNIT 7 - SVG/unit-7_project/scss/styles.scss */
.switches {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 10px 0px 30px;
}

/* line 365, ../../../../../Users/melissalaas/Desktop/Web-Development/UNIT 7 - SVG/unit-7_project/scss/styles.scss */
.settings-button {
  display: flex;
  justify-content: space-between;
}

/* line 371, ../../../../../Users/melissalaas/Desktop/Web-Development/UNIT 7 - SVG/unit-7_project/scss/styles.scss */
.switch-light {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 30px;
}

/* line 379, ../../../../../Users/melissalaas/Desktop/Web-Development/UNIT 7 - SVG/unit-7_project/scss/styles.scss */
label span {
  border: 2px #808080 solid;
  border: 5px;
}

/* line 384, ../../../../../Users/melissalaas/Desktop/Web-Development/UNIT 7 - SVG/unit-7_project/scss/styles.scss */
label strong {
  flex-basis: 210px;
}

/* line 388, ../../../../../Users/melissalaas/Desktop/Web-Development/UNIT 7 - SVG/unit-7_project/scss/styles.scss */
.button-save,
.button-cancel {
  background-color: #707fc2;
  color: #f3f1f1;
  padding: 20px;
  width: 100%;
  border-radius: 5px;
  border: 1px #f3f1f1 solid;
  flex-basis: 47%;
  text-transform: uppercase;
}

/* line 400, ../../../../../Users/melissalaas/Desktop/Web-Development/UNIT 7 - SVG/unit-7_project/scss/styles.scss */
.button-cancel {
  background-color: #adacac;
}

/* line 404, ../../../../../Users/melissalaas/Desktop/Web-Development/UNIT 7 - SVG/unit-7_project/scss/styles.scss */
.switch-ios.switch-light > span {
  width: 125px;
}

/*------------------------
        Media Queries
------------------------*/
@media (min-width: 768px) {
  /* line 412, ../../../../../Users/melissalaas/Desktop/Web-Development/UNIT 7 - SVG/unit-7_project/scss/styles.scss */
  .grid-container {
    grid-template-columns: 55px 1fr;
    grid-template-rows: auto;
    grid-template-areas: "header header" "nav main";
  }
  /* line 420, ../../../../../Users/melissalaas/Desktop/Web-Development/UNIT 7 - SVG/unit-7_project/scss/styles.scss */
  h1 {
    flex-basis: 72%;
  }
  /* line 424, ../../../../../Users/melissalaas/Desktop/Web-Development/UNIT 7 - SVG/unit-7_project/scss/styles.scss */
  nav {
    flex-direction: column;
    justify-content: left;
  }
  /* line 429, ../../../../../Users/melissalaas/Desktop/Web-Development/UNIT 7 - SVG/unit-7_project/scss/styles.scss */
  main {
    grid-template-columns: 50%;
  }
  /* line 433, ../../../../../Users/melissalaas/Desktop/Web-Development/UNIT 7 - SVG/unit-7_project/scss/styles.scss */
  .main-container,
  .alert,
  section {
    grid-column: 1 / span 2;
  }
  /* line 439, ../../../../../Users/melissalaas/Desktop/Web-Development/UNIT 7 - SVG/unit-7_project/scss/styles.scss */
  .dashboard-search {
    flex-basis: 75%;
  }
  /* line 443, ../../../../../Users/melissalaas/Desktop/Web-Development/UNIT 7 - SVG/unit-7_project/scss/styles.scss */
  .traffic-nav {
    justify-content: flex-end;
  }
  /* line 447, ../../../../../Users/melissalaas/Desktop/Web-Development/UNIT 7 - SVG/unit-7_project/scss/styles.scss */
  .daily {
    grid-column: 1 / span 1;
    border-right: .1px #ebebeb solid;
  }
  /* line 452, ../../../../../Users/melissalaas/Desktop/Web-Development/UNIT 7 - SVG/unit-7_project/scss/styles.scss */
  .mobile {
    grid-column: 2 / span 1;
  }
  /* line 456, ../../../../../Users/melissalaas/Desktop/Web-Development/UNIT 7 - SVG/unit-7_project/scss/styles.scss */
  .social {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  /* line 462, ../../../../../Users/melissalaas/Desktop/Web-Development/UNIT 7 - SVG/unit-7_project/scss/styles.scss */
  .social h3 {
    flex-basis: 100%;
  }
  /* line 466, ../../../../../Users/melissalaas/Desktop/Web-Development/UNIT 7 - SVG/unit-7_project/scss/styles.scss */
  .social-container {
    flex-basis: 33%;
  }
  /* line 470, ../../../../../Users/melissalaas/Desktop/Web-Development/UNIT 7 - SVG/unit-7_project/scss/styles.scss */
  .members,
  .activity-container {
    flex-direction: row;
    justify-content: flex-start;
    height: 80px;
  }
  /* line 477, ../../../../../Users/melissalaas/Desktop/Web-Development/UNIT 7 - SVG/unit-7_project/scss/styles.scss */
  .members-text {
    flex-basis: 75%;
    align-items: flex-start;
  }
  /* line 482, ../../../../../Users/melissalaas/Desktop/Web-Development/UNIT 7 - SVG/unit-7_project/scss/styles.scss */
  .members :nth-child(3) {
    margin-left: auto;
  }
  /* line 486, ../../../../../Users/melissalaas/Desktop/Web-Development/UNIT 7 - SVG/unit-7_project/scss/styles.scss */
  .arrow {
    display: block;
    color: #707fc2;
    font-size: 20px;
    margin-left: auto;
  }
  /* line 493, ../../../../../Users/melissalaas/Desktop/Web-Development/UNIT 7 - SVG/unit-7_project/scss/styles.scss */
  .members-text > * {
    text-align: left;
  }
}

@media (min-width: 1024px) {
  /* line 501, ../../../../../Users/melissalaas/Desktop/Web-Development/UNIT 7 - SVG/unit-7_project/scss/styles.scss */
  .main-container,
  .traffic {
    grid-column: 1 / span 2;
  }
  /* line 506, ../../../../../Users/melissalaas/Desktop/Web-Development/UNIT 7 - SVG/unit-7_project/scss/styles.scss */
  h1 {
    flex-basis: 80%;
  }
  /* line 510, ../../../../../Users/melissalaas/Desktop/Web-Development/UNIT 7 - SVG/unit-7_project/scss/styles.scss */
  .daily,
  .members-container,
  .message {
    grid-column: 1 / span 1;
  }
  /* line 516, ../../../../../Users/melissalaas/Desktop/Web-Development/UNIT 7 - SVG/unit-7_project/scss/styles.scss */
  .mobile,
  .recent-activity,
  .settings {
    grid-column: 2 / span 1;
  }
  /* line 522, ../../../../../Users/melissalaas/Desktop/Web-Development/UNIT 7 - SVG/unit-7_project/scss/styles.scss */
  .members-container, .message {
    border-right: .1px #ebebeb solid;
  }
}

/*# sourceMappingURL=styles.css.map */