* {
    box-sizing: border-box;
    font-family: 'Darker Grotesque', sans-serif;
}

/* ---------------------------------
            Grid Layout 
 ----------------------------------*/

.grid-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    background-color: #e9e8e8;
    grid-template-areas: 
        "header"
        "navigation"
        "main";
    margin: auto;
    justify-content: center;   
}

header {
    grid-area: header;
    width: 100%;
    color: white;
    background-color: #707fc2;
    padding: 15px;
}
    
.navigation {
    grid-area: navigation;
}
    
main {
    grid-area: main;
}

/* ---------------------------------
        Main Element Styling 
 ----------------------------------*/
/* ------ header -------*/
h1 {
    font-size: 20px;
    font-weight: 400;
}

h1 sup {
    font-weight: 6px;
}

.notifications {
    padding: 10px;
    border-right: 1px #929292 solid;
}

.bellDot {
    height: 6px;
    width: 6px;
    background-color: rgb(145, 212, 145);
    border-radius: 50%;
    position: relative;
    top: -30px;
    left: 20px;
}

.student-name {
    font-size: 15px;
    text-align: center;
    margin: 0px 6px;
}

/* ------ Icons -------*/

 .bell-icon{
    fill:#ffffff;
    width: 20px;
    transform-origin: 50% 50%;
   }

#popup{
    right: 20px;
    background-color: #7477bfcc;
    width: 250px;
}

.popup-message{
    padding: 8px;
    margin: 8px;
}

/* ------ Navigation -------*/

nav {
    background-color: #344079;
}

.icon {
    width: 30px;
    height: 30px;
    margin: 10px;
}

/* ------ Main -------*/

main {
    background-color: #ffffff;
    margin: 0;
}

a {
    text-decoration: none;
    color: #707fc2;
}

.main-header {
    grid-area: 1 / 1;
}

.alert {
    margin: 10px;
    color: #ffffff;
    background-color: #707fc2;
    border-radius: 5px;
}

.alert-banner {
    padding: 1em;
    font-weight: 100;
}

h2 {
    font-size: 20px;
    background-color: #ffffff;
    padding: 10px;
    margin: 2px;
}

.main-header-search {
    background-color: #e9e8e8;
}

main h3 {
    text-transform: uppercase;
    font-size: 14px;
}

/* ------ Sections -------*/
section {
    padding: 10px;
    margin: 0px 8px;
}


/* ------ Traffic -------*/
.traffic-nav {
    padding: 0;
    margin: 5px;
    list-style-type: none;
}

.traffic-nav-link {
    padding: 5px;
}

.active {
    color: #ffffff;
    background-color: #59b359;
    border-radius: 25px;
    padding: 10px;
}

/* ------ Social Media -------*/
.social-container {
    padding: 1em;
    margin: 0 0 10px 0;
    background-color: #f1efef;
    border: 1px solid #bdbaba;
}

.social-image {
    height: 65px;
    width: 65px;
    padding: 15px;
    border-radius: 50%;
    border: 5px;
    background-color: #707fc2;
    fill: #f1efef;
    border: 5px
}

.social-text {
    text-align: left;
    margin: 5px;
}

.social-text p:first-child {
    color: #6876b1;
    font-weight: bold;
    margin: 1px;
}

.social-text p:last-child {
    color: #6d6c6c;
    font-size: 28px;
    margin: 1px;
}

/* ------ Members -------*/
.member-container,
.member-activity {
    padding: 8px;
    border-bottom: 1px solid #d3d2d2 ;
}

.member-activity:last-child,
.member-container:last-child {
    border-bottom: none;
}

.members-text {
    padding: 2px 10px;
    text-align: center;
}

.members-text >*{
    margin: 2px;
    text-align: center;
}

p {
    font-size: 14px;
    margin: 0;
}

.arrow {
    display: none;
}

/* ------ Members images -------*/
.profile-image,
.profile-image-top {
    border-radius: 50%;
}

.profile-image-top {
    height: 35px;
    width: 35px;
    margin: 4px;
}

.profile-image {
    height: 55px;
    width: 55px;
}

/* ------ Message Input -------*/

.form-area,
.form-field {
    width: 100%;
    margin-bottom: 1em;
    padding: 1em;
    font-size: 14px;
    background-color: #e9e8e8;
    border-radius: 5px;
    border: 1px solid #a7a7a7;
    color: #585858;
}

.form-area {
    height: 150px;
}

/* ------ Settings -------*/
.switches {
    margin: 10px 0px 30px;
}

.switch-light {
    margin-bottom: 28px;
}

label span {
    border: 3px solid grey;
    border: 5px;
}

.settingLabel {
    flex-basis: 210px;
}

.button-primary,
.button-disabled{
    background-color: #707fc2;
    color:#f3f1f1;
    padding: 20px;
    width: 100%;
    border-radius: 5px;
    border: 1px #f3f1f1 solid;
    text-transform: uppercase;
}

.button-disabled{
    background-color: #adacac;
}

.switch-ios.switch-light > span {
    width: 125px;
}

/* ------ Widget container -------*/
canvas {
    max-width: 100%;
}

/* ---------------------------------
            Media Queries 
 ----------------------------------*/

 @media (min-width: 768px) {
    .grid-container {
        grid-template-columns: 55px 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
            "header header"
            "nagivation main";
    }

    .daily, .members, .message {
        grid-column: 1 / span 1;
    }

    .mobile, .activity, .settings {
        grid-column: 2 / span 1;
    }

    .widget-container-full, .widget-container-half {
        width: 95vw;
    }

    .widget-container-full {
        width: 90vw;
    }

    .widget-container-half {
        width: 45vw;
    }

    .arrow {
        display: block;
        color: #707fc2;
        font-size: 20px;
        margin-left: auto;
    }
}

/* @media (min-width: 1024px) {
    .main-header,
    .traffic {
        grid-column: 1 / span 2;
    }

    h1 {
        flex-basis: 80%;
    }

    .daily,
    .members,
    .message {
        grid-column: 1 / span 1;
    }

    .mobile,
    .recent-activity,
    .settings {
        grid-column: 2 / span 1;
    }
} */

