* {
    box-sizing: border-box;
    font-family: 'Darker Grotesque', sans-serif;
    color: rgb(75, 75, 75);
}

/*------------------------
     Grid Containers
------------------------*/
.grid-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
        "header"
        "nav"
        "main";
    background-color: rgb(233, 232, 232);
    margin: auto;
    font-family: 'Roboto', sans-serif;
    justify-content: center;    
}

/*------------------------
        Elements
------------------------*/
/*--- header ---*/
header {
    grid-area: header;
    width: 100%;
    background-color: #707fc2;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;     
    padding: 10px;
    color: white;    
}

h1{
    font-size: 18px;
    font-weight: 300;
}

h1 strong{
    font-weight: 600;
}

h1 sup{
    font-size: 8px;
}

.notifications{ 
    padding: 10px;
    border-right: 1px #929292 solid;
}

.bellDot{
    height: 5px;
    width: 5px;
    background-color: #00ff00;
    border-radius: 50%;
    position: relative;
    top: 0px;
    left: 20px;
}

.student-name{   
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    margin: 0px 6px;
}

@keyframes rinkle {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(45deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(-45deg);
    }
}

.bell-icon{
    fill:white;
    width: 22px;
    transform-origin: 50% 50%;
   }

.notifications:hover, .alert-banner{
    cursor: pointer;
}

.bell-icon:hover{
    animation: rinkle .5s ease-in;
}

#popup{
    position: absolute;
    right: 20px;
    z-index: 1;
    background-color: #7477bfcc;
    width: 250px;
}

/*--- navigation ---*/
nav {
    grid-area: nav;
    background-color: #3a436b;   
    display: flex;
    flex-direction: row;
    justify-content: center;  
}

.icon {
    width: 35px;
    height: 35px;
    margin: 10px;
}

/*--- main ---*/

main {
    grid-area: main;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    background-color: #ffffff;
    margin: 0;  
}

a {
    text-decoration: none;
    color:#707fc2 ;
}

.main-header {
    grid-area: 1 / 1;
    display: flex;    
    flex-direction: row;  
    justify-content: flex-start;
}

.alert {
    background-color: #707fc2;
    margin: 8px;
    color: #ffffff;    
    grid-column: 1 / span 1;
    border-radius: 5px;
}

.alert-banner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1em;
    font-weight: 100;
       
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: lighter;
    background-color: white;
    padding: 10px;
    margin: 2px;
    flex: 1;
}

.dashboard-search {
    background-color: #e9e8e8;
    border-bottom:1px #adacac solid;
    border-left:1px #adacac solid; 
    flex: 2;
}

main h3 {
    font-size: 14px;
    text-transform: uppercase;
}

/*--- section ---*/
section {
    padding: 12px;
    border-bottom: 1px #ebebeb solid;
}

.widget-container-full,
.widget-container-half {
    display: flex;
    flex-direction: column;
}

/*--- traffic ---*/
.traffic-nav {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
    margin: 5px;
}
.traffic-nav-link {    
    padding: 5px;
    font-weight: 400;
}

.active {
    color: white;
    background-color: #49c449;
    border-radius: 25px;
    padding: 10px;
}

/* widget */
canvas {
    max-width: 100%;
}

/*--- social media ---*/
.social {
    display: flex;
    flex-direction: column;
}
.social-container {
    display: flex;
    flex-direction: row;
    justify-content: left;
    background-color: #f1efef;
    border-radius: 5px;
    border: 1px solid #cccbcb;
    padding: 1em;
    margin: 0 0 10px 0;
}

.social-image {
    width: 70px;
    height: 70px;
    padding: 15px;
    background-color: #707fc2;
    fill: rgb(241, 239, 239);
    border-radius: 50%;
    border: 5px;
}

.social-text {
    text-align: left;   
    margin: 5px; 
}

.social-text p:first-child {
    color: #707fc2;
    font-weight: bold;
    margin: 1px;
}

.social-text p:last-child {
    color: #808080;
    font-size: 30px;
    margin: 1px;
}

/*--- members container ---*/
.members, 
.member-activity {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
    border-bottom: 1px #d3d2d2 solid;
    
}

.member-activity:last-child, 
.members:last-child {
    border-bottom: none;
}

.members-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    padding: 2px 10px;
    
}

.members-text >* {
    margin: 2px;
    text-align: center;
}

p {
    font-size: 14px; 
    margin: 0;
}

.arrow {
    display: none;
}

/*--- profile images ---*/
.profile-image,
.profile-top {
    border-radius: 50%;
    
}
.profile-top {
    height: 40px;
    width: 40px;
    margin: 5px;
}

.profile-image {
    height: 60px;
    width: 60px;
}

/*--- messages and settings ---*/
.message-container, 
.settings-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.formArea,
.formField {
    margin-bottom: 1em;
    background-color:#e9e8e8;
    border-radius: 5px;
    border: 1px #ccc9c9 solid;
    padding: 1em;
    font-size: 14px;
    color:  #707070;  
    width: 100%;  
}

.formArea {
    height: 150px;
}

/*github guidance: */
.switches {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 10px 0px 30px;

}
.settings-button {
    display: flex;
    justify-content: space-between;
 
}

.switch-light {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 30px;   
    
}

label span {
    border: 2px #808080 solid;
    border: 5px;
}

label strong {
    flex-basis: 210px;
}

.button-save,
.button-cancel {
    background-color: #707fc2;
    color:#f3f1f1;
    padding: 20px;
    width: 100%;
    border-radius: 5px;
    border: 1px #f3f1f1 solid;
    flex-basis: 47%;
    text-transform: uppercase;
}

.button-cancel {
    background-color: #adacac;
}

.switch-ios.switch-light > span {
    width: 125px;
}

/*------------------------
        Media Queries
------------------------*/
@media(min-width: 768px) {
    .grid-container{
        grid-template-columns: 55px 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
            "header header"
            "nav main";
    }

    h1 {
        flex-basis: 72%;
    }

    nav {
        flex-direction: column;
        justify-content: left;
    }

    main {
        grid-template-columns: 50%;
    }

    .main-container, 
    .alert, 
    section {
        grid-column: 1 / span 2;
    }

    .dashboard-search {
        flex-basis: 75%;
    }

    .traffic-nav {
        justify-content: flex-end;
    }

    .daily {
        grid-column: 1 / span 1;
        border-right: .1px #ebebeb solid;
    }

    .mobile {
        grid-column: 2 / span 1;
    }

    .social {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .social h3 {
        flex-basis: 100%;
    }

    .social-container {
        flex-basis: 33%;
    } 

    .members, 
    .activity-container {
        flex-direction: row;
        justify-content: flex-start;
        height: 80px;
    }  

    .members-text {
        flex-basis: 75%;
        align-items: flex-start;
    }

    .members :nth-child(3){
        margin-left: auto;
    }

    .arrow {
        display: block;
        color:#707fc2;
        font-size: 20px;
        margin-left: auto;
    }

    .members-text >*{
     text-align: left;
    }

}

@media(min-width: 1024px) {
   
    .main-container,
    .traffic {
        grid-column: 1 / span 2;
    }

    h1{
        flex-basis: 80%;
    }

    .daily,
    .members-container,
    .message {
        grid-column: 1 / span 1;
    }

    .mobile,
    .recent-activity,
    .settings {
        grid-column: 2 / span 1;
    }

    .members-container, .message {
        border-right: .1px #ebebeb solid;
    }
}